.auth-conatiner {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 1rem;
  padding: 2rem;
  width: 84vw;
  max-width: 60ch;
  margin: 10vh auto;
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: .5rem;
  border-bottom: 0.25rem solid var(--color-secondary-200-2);
  border-right: 0.25rem solid var(--color-secondary-200);
  border-top: 0.25rem solid var(--color-secondary-200-8);
  border-left: 0.25rem solid var(--color-secondary-200-8);
}
.auth-conatiner input {
  font-size: 0.95rem;
  height: 1.75rem;
  width: 18ch;
  padding: 0.25rem 2ch;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid var(--color-accent-400);
}
.auth-conatiner button {
  cursor: pointer;
  font-size: 0.95rem;
  padding: 0.25rem 2ch;
  margin-block: 0.5rem;
  background-color: var(--color-accent-500-2);
  border: 0.025rem solid var(--color-accent-200);
  border-radius: 0.25rem;
}
@media (hover: hover) {
  .auth-conatiner button {
    transition: 0.3s;
  }
  .auth-conatiner button:hover {
    font-weight: 600;
    color: var(--color-secondary-500);
    background-color: var(--color-secondary-200);
  }
}
@media (hover: none) {
  .auth-conatiner button:active {
    font-weight: 600;
    color: var(--color-accent-500);
    background-color: var(--color-accent-200);
  }
}