@keyframes drop-pin-rise {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.drop-pin-button {
  animation: drop-pin-rise 0.5s;
  z-index: 10;
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  border: 1px solid black;
  background-color: var(--color-primary-600);
  box-shadow: 1px 1px 3px #666;
  transition: 0.3s;
}
.drop-pin-button img {
  width: 100%;
}
.drop-pin-backdrop {
  z-index: 7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ccccccaa;
}
.fire-button {
  animation: drop-pin-rise 0.5s;
  z-index: 10;
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  border: 1px solid var(--color-primary-200);
  background-color: var(--color-secondary-600);
  box-shadow: 1px 1px 3px white;
  transition: 0.3s;
  display: grid;
  align-items: center;
  justify-items: center;
}
.fire-button img {
  width: 1.5rem;
}
.fire-button.one {
  bottom: 4.5rem;
}
.fire-button.two {
  bottom: 7.5rem;
  width: 5rem;
  grid-template-columns: 1fr 1fr;
}
.fire-button.three {
  bottom: 10.5rem;
  width: 7.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.fire-button.four {
  bottom: 13.5rem;
  width: 10rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fire-button.five {
  bottom: 16.5rem;
  width: 12.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.drop-pin.place-list .exit {
  transition: 0.3s;
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #666;
  cursor: pointer;
}
.drop-pin.place-list .exit img {
  width: 100%;
}
.drop-pin.place-list .select-dropdown div {
  padding: 0.125rem 0;
  margin: 0.25rem 0;
}
.drop-pin.place-list button {
  cursor: pointer;
  font-size: 1rem;
  display: block;
  width: 12ch;
  padding: .5rem 0.25rem;
  text-align: center;
  margin: 1rem auto;
  background-color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 3px #666;
}
.drop-pin.place-list h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.25rem;
}
.drop-pin.place-list address {
  font-size: 0.75rem;
  font-weight: 300;
  font-style: italic;
  margin: 0.25rem;
}
.drop-pin.place-list hr {
  margin: 1.25rem 0 0.75rem 0;
}
.drop-pin.place-list .select-dropdown-custom-place label {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1rem;
}
.drop-pin.place-list .select-dropdown-custom-place input {
  outline: none;
  border: none;
  font-size: 1rem;
}
.drop-pin.place-list .select-dropdown-custom-place img {
  max-width: 100%;
}
.drop-pin.place-list .select-dropdown {
  transition: 0.3s;
  transform-origin: top;
  background-color: #ffffff;
  width: 55ch;
  max-width: 84vw;
  max-height: 67vh;
  overflow-y: scroll;
  padding: 1rem 2.5ch;
  margin: 0 auto;
  box-shadow: 1px 1px 3px #666;
}
.drop-pin.place-list header {
  text-align: center;
  max-width: 75vw;
  margin: auto;
  text-decoration: underline;
}
.drop-pin.place-list h1 {
  color: var(--color-primary-200);
}
@media (hover: hover) {
  .drop-pin-button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 7px gray;
  }
  .fire-button:hover {
    box-shadow: 2px 2px 7px gray;
  }
  .drop-pin.place:hover {
    background-color: var(--color-primary-300);
    box-shadow: 2px 2px 5px var(--color-primary-300-4);
  }
  .drop-pin.place-list .exit:hover {
    box-shadow: 2px 2px 5px #666;
  }
  .drop-pin.place-list .select-dropdown div:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}