:root {
  /* color - primary */
  --color-primary-200-0: hsla(120, 73%, 5%, 0);
  --color-primary-200-2: hsla(120, 73%, 5%, 0.2);
  --color-primary-200-4: hsla(120, 73%, 5%, 0.4);
  --color-primary-200-6: hsla(120, 73%, 5%, 0.6);
  --color-primary-200-8: hsla(120, 73%, 5%, 0.8);
  --color-primary-200: hsla(120, 73%, 5%, 1);
  --color-primary-300-0: hsla(120, 73%, 20%, 0);
  --color-primary-300-2: hsla(120, 73%, 20%, 0.2);
  --color-primary-300-4: hsla(120, 73%, 20%, 0.4);
  --color-primary-300-6: hsla(120, 73%, 20%, 0.6);
  --color-primary-300-8: hsla(120, 73%, 20%, 0.8);
  --color-primary-300: hsla(120, 73%, 20%, 1);
  --color-primary-400-0: hsla(120, 73%, 40%, 0);
  --color-primary-400-2: hsla(120, 73%, 40%, 0.2);
  --color-primary-400-4: hsla(120, 73%, 40%, 0.4);
  --color-primary-400-6: hsla(120, 73%, 40%, 0.6);
  --color-primary-400-8: hsla(120, 73%, 40%, 0.8);
  --color-primary-400: hsla(120, 73%, 40%, 1);
  --color-primary-500-0: hsla(120, 73%, 55%, 0);
  --color-primary-500-2: hsla(120, 73%, 55%, 0.2);
  --color-primary-500-4: hsla(120, 73%, 55%, 0.4);
  --color-primary-500-6: hsla(120, 73%, 55%, 0.6);
  --color-primary-500-8: hsla(120, 73%, 55%, 0.8);
  --color-primary-500: hsla(120, 73%, 55%, 1);
  --color-primary-600-0: hsla(120, 73%, 70%, 0);
  --color-primary-600-2: hsla(120, 73%, 70%, 0.2);
  --color-primary-600-4: hsla(120, 73%, 70%, 0.4);
  --color-primary-600-6: hsla(120, 73%, 70%, 0.6);
  --color-primary-600-8: hsla(120, 73%, 70%, 0.8);
  --color-primary-600: hsla(120, 73%, 70%, 1);
  --color-primary-700-0: hsla(120, 73%, 85%, 0);
  --color-primary-700-2: hsla(120, 73%, 85%, 0.2);
  --color-primary-700-4: hsla(120, 73%, 85%, 0.4);
  --color-primary-700-6: hsla(120, 73%, 85%, 0.6);
  --color-primary-700-8: hsla(120, 73%, 85%, 0.8);
  --color-primary-700: hsla(120, 73%, 85%, 1);
  /* color - secondary */
  --color-secondary-200-0: hsla(0, 68%, 5%, 0);
  --color-secondary-200-2: hsla(0, 68%, 5%, 0.2);
  --color-secondary-200-4: hsla(0, 68%, 5%, 0.4);
  --color-secondary-200-6: hsla(0, 68%, 5%, 0.6);
  --color-secondary-200-8: hsla(0, 68%, 5%, 0.8);
  --color-secondary-200: hsla(0, 68%, 5%, 1);
  --color-secondary-300-0: hsla(0, 68%, 20%, 0);
  --color-secondary-300-2: hsla(0, 68%, 20%, 0.2);
  --color-secondary-300-4: hsla(0, 68%, 20%, 0.4);
  --color-secondary-300-6: hsla(0, 68%, 20%, 0.6);
  --color-secondary-300-8: hsla(0, 68%, 20%, 0.8);
  --color-secondary-300: hsla(0, 68%, 20%, 1);
  --color-secondary-400-0: hsla(0, 68%, 40%, 0);
  --color-secondary-400-2: hsla(0, 68%, 40%, 0.2);
  --color-secondary-400-4: hsla(0, 68%, 40%, 0.4);
  --color-secondary-400-6: hsla(0, 68%, 40%, 0.6);
  --color-secondary-400-8: hsla(0, 68%, 40%, 0.8);
  --color-secondary-400: hsla(0, 68%, 40%, 1);
  --color-secondary-500-0: hsla(0, 68%, 55%, 0);
  --color-secondary-500-2: hsla(0, 68%, 55%, 0.2);
  --color-secondary-500-4: hsla(0, 68%, 55%, 0.4);
  --color-secondary-500-6: hsla(0, 68%, 55%, 0.6);
  --color-secondary-500-8: hsla(0, 68%, 55%, 0.8);
  --color-secondary-500: hsla(0, 68%, 55%, 1);
  --color-secondary-600-0: hsla(0, 68%, 70%, 0);
  --color-secondary-600-2: hsla(0, 68%, 70%, 0.2);
  --color-secondary-600-4: hsla(0, 68%, 70%, 0.4);
  --color-secondary-600-6: hsla(0, 68%, 70%, 0.6);
  --color-secondary-600-8: hsla(0, 68%, 70%, 0.8);
  --color-secondary-600: hsla(0, 68%, 70%, 1);
  --color-secondary-700-0: hsla(0, 68%, 85%, 0);
  --color-secondary-700-2: hsla(0, 68%, 85%, 0.2);
  --color-secondary-700-4: hsla(0, 68%, 85%, 0.4);
  --color-secondary-700-6: hsla(0, 68%, 85%, 0.6);
  --color-secondary-700-8: hsla(0, 68%, 85%, 0.8);
  --color-secondary-700: hsla(0, 68%, 85%, 1);
  /* color - accent */
  --color-accent-200-0: hsla(193, 46%, 5%, 0);
  --color-accent-200-2: hsla(193, 46%, 5%, 0.2);
  --color-accent-200-4: hsla(193, 46%, 5%, 0.4);
  --color-accent-200-6: hsla(193, 46%, 5%, 0.6);
  --color-accent-200-8: hsla(193, 46%, 5%, 0.8);
  --color-accent-200: hsla(193, 46%, 5%, 1);
  --color-accent-300-0: hsla(193, 46%, 20%, 0);
  --color-accent-300-2: hsla(193, 46%, 20%, 0.2);
  --color-accent-300-4: hsla(193, 46%, 20%, 0.4);
  --color-accent-300-6: hsla(193, 46%, 20%, 0.6);
  --color-accent-300-8: hsla(193, 46%, 20%, 0.8);
  --color-accent-300: hsla(193, 46%, 20%, 1);
  --color-accent-400-0: hsla(193, 46%, 40%, 0);
  --color-accent-400-2: hsla(193, 46%, 40%, 0.2);
  --color-accent-400-4: hsla(193, 46%, 40%, 0.4);
  --color-accent-400-6: hsla(193, 46%, 40%, 0.6);
  --color-accent-400-8: hsla(193, 46%, 40%, 0.8);
  --color-accent-400: hsla(193, 46%, 40%, 1);
  --color-accent-500-0: hsla(193, 46%, 55%, 0);
  --color-accent-500-2: hsla(193, 46%, 55%, 0.2);
  --color-accent-500-4: hsla(193, 46%, 55%, 0.4);
  --color-accent-500-6: hsla(193, 46%, 55%, 0.6);
  --color-accent-500-8: hsla(193, 46%, 55%, 0.8);
  --color-accent-500: hsla(193, 46%, 55%, 1);
  --color-accent-600-0: hsla(193, 46%, 70%, 0);
  --color-accent-600-2: hsla(193, 46%, 70%, 0.2);
  --color-accent-600-4: hsla(193, 46%, 70%, 0.4);
  --color-accent-600-6: hsla(193, 46%, 70%, 0.6);
  --color-accent-600-8: hsla(193, 46%, 70%, 0.8);
  --color-accent-600: hsla(193, 46%, 70%, 1);
  --color-accent-700-0: hsla(193, 46%, 85%, 0);
  --color-accent-700-2: hsla(193, 46%, 85%, 0.2);
  --color-accent-700-4: hsla(193, 46%, 85%, 0.4);
  --color-accent-700-6: hsla(193, 46%, 85%, 0.6);
  --color-accent-700-8: hsla(193, 46%, 85%, 0.8);
  --color-accent-700: hsla(193, 46%, 85%, 1);
  /* font stuff */
  --primary-font-family: 'Bitter', serif;
  --letter-spacing: 1.2px;

}